body{
    align-content: center;
    margin: 0px;
}
#profil_block{
    height: 400px;
    width: 20%;
    background-color: aquamarine;
    margin: 0 auto;
    margin-top: 20px;
}
#photo{
margin: 150px 0 0 130px;
}